extends layout

block content
    #banner.page-header
        .container
            .row
                .col-sm-8
                    h3 Listings
    br
    .row.list-group
        each listing in listings
            .col-xs-12.list-group-item
                h4=listing.title
                p Subject: #{listing.subject}
                p Description: #{listing.description}
                p Trades: #{listing.trades}
                a.float-right(href='/listings/item/#{listing._id}') Details
